@import "./reset.css";

:root {
  --color-background: #fee2c6;
  --color-header: #fbdea2;
  --color-sidebar: #fff;
  --color-sidebar-hover: #fb9da7;
  --color-nav: #fcccd4;
  --color-nav-hover: #8a2be2;
  --color-menu: #fb9da7;
  --color-hashtag: #fbdea2;
}

/* 아이템을 선택했을 때 좌우로 흔들리는 애니메이션 */
@keyframes item-ani {
  25% {
    transform: rotate(2deg) scale(1.01);
  }
  50% {
    transform: rotate(0deg) scale(1);
  }
  75% {
    transform: rotate(-2deg) scale(1.01);
  }
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--color-background);
  font-family: "Do Hyeon", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100px;
  padding: 0 2rem;

  background-color: var(--color-header);
  font-size: 3rem;
  z-index: 2;
}

.header > img {
  width: 8%;
  height: 50%;

  cursor: pointer;
}

.header__sidebar {
  display: none;
}

.header > img:hover + .header__sidebar,
.header__sidebar:hover {
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  width: 20%;
  height: 100vh;
  padding: 20px;

  background-color: var(--color-sidebar);
  font-size: 30px;

  cursor: pointer;
}

.header__sidebar > h1 {
  margin-bottom: 3rem;
}

.header__sidebar > div {
  display: flex;
  align-items: center;

  width: 80%;
  height: 5rem;

  border: none;
  background-color: transparent;
  font-size: 25px;
  outline: 1px;
}

.header__sidebar > div:hover {
  color: var(--color-sidebar-hover);
}

.main {
  display: flex;
  column-gap: 2rem;

  padding: 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 25rem;
  padding: 2rem;
  gap: 1rem;

  border-radius: 3rem;
  background-color: var(--color-nav);
}

.nav > * {
  font-size: 2.5rem;
}

.nav > button {
  width: 100%;
  height: 7rem;

  border-radius: 3rem;
  border: none;

  cursor: pointer;
}

.nav > button:hover {
  background-color: var(--color-nav-hover);
  color: var(--color-sidebar);
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  width: calc(100% - 20rem);
  gap: 1.5rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  width: 100%;
  height: 25rem;

  background-color: var(--color-menu);
  border-radius: 3rem;

  overflow: hidden;
  cursor: pointer;
}

.menu-item:hover {
  animation: item-ani 0.8s linear 1;
}

.menu-item > .menu-hashtag {
  display: flex;

  font-size: 1rem;
  gap: 0.1rem;
}

.menu-item > img {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 78%;
}

.menu-item > .menu-like {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;
  height: 13%;
}

.like-before,
.like-after {
  position: absolute;
  top: 40%;
  left: 10%;
}

.menu-like > .like-after {
  display: none;
}

.menu-like:hover > .like-before {
  display: none;
}

.menu-like:hover > .like-after {
  display: block;
}

.menu-item > .menu-like > h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.menu-hashtag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  width: 11rem;
  height: 1.5rem;
}

.menu-hashtag > p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 1.5rem;

  padding: 0.5rem;

  border-radius: 3rem;
  background-color: var(--color-hashtag);
}

.menu-hashtag > p::before {
  content: "#";
}

/* 미디어 쿼리 */

@media screen and (max-width: 1279px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    width: calc(100% - 20rem);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    width: calc(100% - 20rem);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: calc(100% - 20rem);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 899px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: calc(100% - 20rem);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .menu {
    display: flex;
    flex-direction: column;

    width: calc(100% - 20rem);
    gap: 1.5rem;
  }
}
