@import "./reset.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Do Hyeon", sans-serif;
  background-color: #fee2c6;

  display: flex;
  flex-direction: column;
}

button {
  font-family: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100px;
  padding: 0 2rem;

  font-size: 3rem;
  z-index: 2;

  background-color: #fbdea2;
}

.header > img {
  width: 8%;
  height: 50%;

  cursor: pointer;
}

.header__sidebar {
  display: none;
}

.header > img:hover + .header__sidebar,
.header__sidebar:hover {
  display: block;

  position: absolute;

  width: 20vw;
  height: 100vh;
  padding: 20px;

  right: 0;
  top: 0;

  font-size: 30px;

  background-color: #fff;

  cursor: pointer;
}

.header__sidebar > h1 {
  margin-bottom: 3rem;
}

.header__sidebar > div {
  display: flex;
  align-items: center;

  width: 80%;
  height: 5rem;

  font-size: 25px;

  background-color: transparent;
  border: none;
  outline: 1px;
}

.header__sidebar > div:hover {
  color: #fb9da7;
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 2rem;

  padding: 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 25rem;
  gap: 1rem;

  padding: 2rem;
  width: 20rem;

  border-radius: 3rem;
  background-color: #fcccd4;
}

.nav > * {
  font-size: 2.5rem;
}

.nav > button {
  width: 100%;
  height: 7rem;
  border-radius: 3rem;
  border: none;

  cursor: pointer;
}

.nav > button:hover {
  background-color: blueviolet;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  gap: 1.5rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  width: 100%;
  height: 25rem;

  background-color: #fb9da7;
  border-radius: 3rem;

  overflow: hidden;

  cursor: pointer;
}

.menu-item > .menu-like > h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.menu-item > .menu-hashtag {
  display: flex;

  font-size: 1rem;
  gap: 0.1rem;
}

.menu-item > img {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 78%;
}

.menu-item > .menu-like {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 13%;

  position: relative;
}

.like-before,
.like-after {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}

.menu-like > .like-after {
  display: none;
}

.menu-like:hover > .like-before {
  display: none;
}

.menu-like:hover > .like-after {
  display: block;
}

.menu-hashtag {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  width: 11rem;
  height: 1.5rem;
}

.menu-hashtag > p {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;

  background-color: #fbdea2;
  padding: 0.5rem;
  border-radius: 3rem;

  height: 1.5rem;
}

.menu-hashtag > p::before {
  content: "#";
}

/* 미디어 쿼리 */

@media screen and (max-width: 1279px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    gap: 1.5rem;
  }
}

@media screen and (max-width: 1199px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1.5rem;
  }
}

@media screen and (max-width: 1023px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 1.5rem;
  }
}

@media screen and (max-width: 899px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
}
