* {
  font-family: "Do Hyeon", sans-serif;
  font-size: 10px;
  margin: 0;
}

body {
  background-color: #fee2c6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 10rem;
  padding: 0 2rem;

  font-size: 3rem;
  z-index: 2;

  background-color: #fbdea2;
}

.header > img {
  width: 10%;
  height: 50%;

  cursor: pointer;
}

.header > img:hover + .header + .sidebar {
  display: block;

  width: 30%;
  height: 100vh;
  right: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 12rem;
  left: 0;
  right: 0;

  width: 80rem;
  height: 30rem;
  gap: 2rem;
  margin-left: 2rem;

  border-radius: 3rem;
  background-color: #fcccd4;
}

.nav > * {
  font-size: 2.5rem;
}

.nav > button {
  width: 80%;
  border-radius: 3rem;
  border: none;

  cursor: pointer;
}

.nav > button:hover {
  background-color: blueviolet;
  color: #fff;
}

.main {
  display: flex;
  gap: 2rem;

  padding-top: 2rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 30rem;
  height: 30rem;

  background-color: #fb9da7;
  border-radius: 3rem;

  overflow: hidden;

  cursor: pointer;
}

.menu-item > h1 {
  font-size: 2rem;
  margin-top: 1rem;
}

.menu-item > .menu-hashtag {
  display: flex;

  font-size: 1.5rem;
  margin-top: 0.4rem;
  gap: 0.1rem;
}

.menu-item > img {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 80%;
}

.menu-item > .menu-like {
  width: 100%;
  position: relative;
}

.like-before,
.like-after {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.menu-like > .like-after {
  display: none;
}

.menu-like:hover > .like-before {
  display: none;
}

.menu-like:hover > .like-after {
  display: block;
}

.sidebar {
  display: none;
}
