@import "reset.css";

:root {
  --color-background: rgb(253, 241, 187);
  --color-title: rgb(183, 180, 200);
  --color-weekly: rgba(255, 204, 51, 0.7);
  --color-tag: rgb(223, 95, 95);
  --color-footer: rgb(205, 226, 235);
  --color-footer-hover: rgb(205, 180, 235);
  --color-shadow: rgba(0, 0, 0, 0.2);
}

html,
body {
  max-width: 43rem;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
  font-family: "Jua", sans-serif;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Jua", sans-serif;
  background-color: var(--color-background);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;

  color: var(--color-title);
  font-size: 5rem;
  text-shadow: 0.5rem 0.5rem 0.5rem var(--color-shadow);
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

.weekly {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  width: 80%;
  height: 15rem;

  background-color: var(--color-weekly);
  box-shadow: 0.5rem 0.5rem var(--color-shadow);
  border-radius: 2.5rem;
}

.weekly > article {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
}

.weekly > article > p {
  display: grid;
  justify-content: center;
  align-content: center;

  font-size: 2rem;
}

.weekly > article > img > text {
  font-weight: bold;
}

.todos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 2rem;

  width: 80%;
  height: 45rem;

  border-radius: 2.5rem;
}

.todo-section {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 20rem;

  row-gap: 0.5rem;
}

.todo-section > .todo-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  background-color: var(--color-tag);
  border-radius: 2.5rem;
  font-size: 2.5rem;
}

.todo-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  column-gap: 0.4rem;

  margin-left: 1rem;

  font-size: 1.5rem;
}

.todo-done {
  filter: invert(18%) sepia(67%) saturate(3521%) hue-rotate(322deg)
    brightness(100%) contrast(87%);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;

  height: 15rem;
}

.footer > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;

  padding: 1rem;

  width: 30%;
  height: 80%;

  border: none;
  border-radius: 5rem;
  background-color: var(--color-footer);
  box-shadow: 0.5rem 0.5rem var(--color-shadow);
  font-size: 2.2rem;

  cursor: pointer;
}

.footer > button:hover {
  background-color: var(--color-footer-hover);
}
