@import "./reset.css";

* {
  max-width: 430px;
  height: 100%;
  font-family: "Jua", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 7.5fr 1.5fr;

  font-family: "Jua", sans-serif;
  background-color: rgb(253, 241, 187);
}

.title {
  display: grid;
  justify-items: center;
  align-items: center;

  width: 100%;
  color: rgb(183, 180, 200);
  font-size: 45px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: space-between;
}

.weekly {
  width: 80%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  background-color: rgba(255, 204, 51, 0.7);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.weekly > section {
  display: grid;
  justify-content: center;
  align-content: center;
  row-gap: 20px;
}

.weekly > section > p {
  display: grid;
  justify-content: center;
  align-content: center;
}

.weekly > section > img > text {
  font-size: 20px;
  font-weight: bold;
}

.todos {
  width: 80%;
  height: 90%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: olive;
  border-radius: 25px;
}

.todo-section {
  display: grid;
  row-gap: 10px;

  width: 100%;
  height: 100%;
}

.todo-section > .todo-tag {
  display: grid;
  justify-items: center;
  align-items: center;

  width: 85%;
  height: 90%;

  background-color: brown;
  border-radius: 25px;
}

.todo-section > .todo-content {
  margin-left: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-items: center;
  align-items: center;

  width: 100%;
}

.footer > button {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  justify-items: center;
  align-items: center;

  width: 70%;
  height: 120px;

  border: none;
  border-radius: 50px;
  background-color: rgb(205, 226, 235);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  font-size: 22px;
}

.footer > button:hover {
  background-color: rgb(205, 180, 235);
}
